<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <clear />
    <!--设置连接数据库字符串-->
    <add name="ConnectionString" connectionString="Data Source=192.168.1.217;DataBase=ssss;User Id=sa;PassWord=xs123456;Connect Timeout=30;" />
    <add name="ConStringEncrypt" connectionString="false" />
  </connectionStrings>
  <appSettings>
    <!--地址配置-->
    <!--数据库服务端口-->
    <add key="DBPort" value="1433" />
    <add key="DBPortPIDB" value="1433" />
    <!--本机IP和Port-->
    <add key="LocalIP" value="192.168.31.106" />
    <add key="LocalPort" value="11066" />
    <!--自启动-->
    <add key="AutoStart" value="0" />
    <!--客户端服务器选择-->
    <add key="kf" value="服务器" />
    <!--远端IP和Port-->
    <add key="yLocalIP" value="192.168.1.5" />
    <add key="yLocalPort" value="18082" />
    <!--设备用户信息-->
    <add key="unitid" value="500106111" />
    <add key="userid" value="ishp" />
    <!--设备发送时间隔，秒，!-->
    <add key="sendtime" value="60秒" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>